<template>
  <v-app theme="light">
    <v-app-bar color="primary" density="compact">
      <template v-slot:prepend>
        <v-icon class="ml-6" :icon="mdiAccessPoint"></v-icon>
      </template>

      <v-app-bar-title class="ml-15">Photos</v-app-bar-title>

      <template v-slot:append>
        <v-btn icon="mdi-dots-vertical"></v-btn>
      </template>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          title="Sandra Adams"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          prepend-icon="mdi-folder"
          title="My Files"
          value="myfiles"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-account-multiple"
          title="Shared with me"
          value="shared"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-star"
          title="Starred"
          value="starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <v-row>
          <v-col cols="9">
            <v-container>
              <v-row>
                <v-col
                  v-for="(item, index) in 10"
                  :key="index"
                  sm="12"
                  md="6"
                  lg="4"
                  xl="3"
                  ><TestCard></TestCard>
                </v-col>
              </v-row>
            </v-container>
          </v-col>

          <v-col cols="3">
            <v-container style="height: 80vh"> </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<script setup lang="ts">
import { mdiAccessPoint } from "@mdi/js";
import TestCard from "@/components/TestCard.vue";
</script>
