<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import { mdiAccount, mdiAccountMultiple, mdiAbTesting } from "@mdi/js";

import TestComponent from "@/views/TestComponent.vue";
</script>

<template>
  <TestComponent></TestComponent>
</template>

<style scoped></style>
